<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script>
        function noSpaces(e) {
            var keynum

            if (window.event) // IE
            {
                keynum = e.keyCode
            }
            else if (e.which) // Netscape/Firefox/Opera
            {
                keynum = e.which
            }

            return !(keynum == 32 || keynum == 229)
        }
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>員工管理系統登入</title>
    <style type="text/css">
        <!--
        body {
            margin-left: 0px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
        }
        -->
    </style>
</head>

<body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table>
<table width="950" border="0" align="center" cellpadding="0" cellspacing="0" background="../img/loginbk.jpg">
<tr>
            <td height="600" align="center" valign="top">
          <table width="950" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="308">&nbsp;</td>
                        <td width="642" height="275">&nbsp;</td>
            </tr>
                    <tr>
                        <td colspan="2">
                            <div align="center">
                                <form id="form1" name="form1" action="Employee.html">
                                    <label>
                          <div align="left">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                              <tr>
                                                <td width="410" height="53">&nbsp;</td>
                                                <td align="left" valign="top"><input name="name" type="text" id="name" size="24" onchange="if(this.value.match(/[^A-z0-9 \u4e00-\u9fa5０-９]/)){alert('僅能輸入英文&數字!');this.value=this.value.replace(/[^A-z0-9 \u4e00-\u9fa5０-９]/g,'')}" required /></td>
                                              </tr>
                                            </table>
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                              <tr>
                                                <td width="410">&nbsp;</td>
                                                <td><input name="password" type="password" id="password" size="24" onchange="if(this.value.match(/[^A-z0-9 \u4e00-\u9fa5０-９]/)){alert('僅能輸入英文&數字!');this.value=this.value.replace(/[^A-z0-9 \u4e00-\u9fa5０-９]/g,'')}" required /></td>
                                              </tr>
                                            </table>
                                            </div>
                                    </label>
                                    <p>
                                        <label>
                                            <div align="left"><br />
                                        </label>
                                        <label>
                                        <div align="center">
                                          <input type="image" value="submit" src="../img/loginimg.png" border="0" align="center" alt="登入" onclick="document.formname.submit();">
                                          </label>
                                          </div>
                          </form></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
    </td>
  </tr>
</table>
</body>
</html>
